.sh_disabled {
    background: lightgrey !important;
    pointer-events: none;
}
.sh_disabled_qty {
    background: lightgrey !important;
    border-color: #bfbfbf !important;
    color: #555555 !important;
    pointer-events: none;
}
